footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: absolute
}

#icon {
    height: auto;
    width:5vw
}

a {
    color: white;
}

